<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burger App</title>
</head>
<body>
    {{{ body }}}
    {{!-- Front end Javascript/AJAX calls to send to the backend... Update, Post, Get --}}
    {{!-- Jquery, if desired --}}
</body>
</html>