<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/assets/css/burger_style.css" type="text/css" />
    <title>Burger App</title>
</head>
<body>
    {{{ body }}}
    {{!-- Front end Javascript/AJAX calls to send to the backend... Update, Post, Get --}}
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>